<div class="hero">
    <div class="hero__img" 
      {% if section.settings.background_type == "color" %}
        style="background-color: {{ section.settings.background_color }};"
      {% else if section.settings.background_type == "image" %}
        style="background: url('{{ section.settings.background_image | image_url: '1440x600' }});"
      {% endif %}
    >
    </div>
    <div class="container">
        <div class="hero__wrap row">
            <div class="hero__content col-sm-12 col-lg-8">
                {% if section.settings.title != blank %}
                <h{{ section.settings.heading_size }} class="hero__title"
                {% if section.settings.color_theme == "light" %}
                style="color: {{ color_light }}"
                {% else if section.settings.color_theme == "dark" %}
                style="color: {{ color_dark }}"
                {% endif %}
                >{{ section.settings.title }}</h{{ section.settings.heading_size }}>
                {% endif %}
                
                <p class="hero__text secondary"
                {% if section.settings.color_theme == "light" %}
                style="color: {{ color_light }}"
                {% else if section.settings.color_theme == "dark" %}
                style="color: {{ color_dark }}"
                {% endif %}
                >{{ section.settings.text }}</p>
                {% if section.settings.btn_count == "0" %}
                {% else %}
                    {% assign section.settings.btn_type = "primary" %}
                    {% case section.settings.btn_type %}
                      {% when "primary" %}
                        <a class="btn rounded-0 btn-lg btn-primary" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
                      {% when "secondary" %}
                        <a class="btn rounded-0 btn-lg btn-outline-primary" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
                      {% when "link" %}
                        <a class="btn btn-link" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
                      {% else %}
                    {% endcase %}

                    {% if section.settings.btn_count == "2" %}
                        {% assign section.settings.btn_type_2 = "primary" %}
                        {% case section.settings.btn_type_2 %}
                          {% when "primary" %}
                            <a class="btn rounded-0 btn-lg btn-primary" href="{{ section.settings.btn_link_2 }}" role="button">{{ section.settings.btn_text_2 }}</a>
                          {% when "secondary" %}
                            <a class="btn rounded-0 btn-lg btn-outline-primary" href="{{ section.settings.btn_link_2 }}" role="button">{{ section.settings.btn_text_2 }}</a>
                          {% when "link" %}
                            <a class="btn btn-link" href="{{ section.settings.btn_link_2 }}" role="button">{{ section.settings.btn_text_2 }}</a>
                          {% else %}
                        {% endcase %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% styles %}
    .hero {
      position: relative; 
      height: auto;

      {% if section.settings.textbox %}
      {% else %}
        padding-top: 50px;
        padding-bottom: 50px;
      {% endif %}
    }

    .hero__img {
      background-size: cover !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      {% if section.settings.textbox %}
        position: relative;
        height: 250px;
      {% else %}
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      {% endif %}
      width: 100%;
    }
    
    .hero__img::before {
        {% case section.settings.overlay_color %}
          {% when "black" %}
            background-color: #000000;
          {% when "primary_color" %}
            background-color: {{ primary_color }};
          {% when "secondary_color" %}
            background-color: {{ secondary_color }};
          {% when "accent_color" %}
            background-color: {{ accent_color }};
          {% when "accent_color_2" %}
            background-color: {{ accent_color }}; 
          {% else %}
            background-color: #000000;
        {% endcase %}
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: {{ section.settings.overlay_opacity }}%;
    }
    
    .hero > .container {
        position: relative;
        height: 100%;
        z-index: 2;
    }

    .hero__wrap {
      {% assign section.settings.textbox_position = "top_left" %}
      {% case section.settings.textbox_position %}
        {% when "top_left" %}
          align-items: flex-start;
          justify-content: flex-start;
        {% when "top_center" %}
          align-items: flex-start;
          justify-content: center;
        {% when "top_right" %}
          align-items: flex-start;
          justify-content: flex-end;
        {% when "middle_left" %}
          align-items: center;
          justify-content: flex-start;
        {% when "middle_center" %}
          align-items: center;
          justify-content: center;
        {% when "middle_right" %}
          align-items: center;
          justify-content: flex-end;
        {% when "bottom_left" %}
          align-items: flex-end;
          justify-content: flex-start;
        {% when "bottom_center" %}
          align-items: flex-end;
          justify-content: center;
        {% when "bottom_right" %}
          align-items: flex-end;
          justify-content: flex-end;
        {% else %}
          align-items: center;
          justify-content: center;
      {% endcase %}
      height: 100%;
    }

    .hero__content {
      position: relative;

      {% assign section.settings.textbox_alignment = "center" %}
      {% case section.settings.textbox_alignment %}
        {% when "center" %}
          text-align: center;
        {% when "left" %}
          text-align: left;
        {% when "right" %}
          text-align: right;
        {% else %}
          text-align: center;
      {% endcase %}

      {% if section.settings.textbox %}
        padding: 30px;
      {% endif %}
    }
    
    .hero__content::before {
      {% if section.settings.textbox %}
        {% assign section.settings.textbox_color = "black" %}
        {% case section.settings.textbox_color %}
          {% when "black" %}
            background-color: #000000;
          {% when "primary_color" %}
            background-color: {{ primary_color }};
          {% when "secondary_color" %}
            background-color: {{ secondary_color }};
          {% when "accent_color" %}
            background-color: {{ accent_color }};
          {% when "accent_color_2" %}
            background-color: {{ accent_color_2 }};
          {% else %}
            background-color: #000000;
        {% endcase %}
        opacity: {{ section.settings.textbox_opacity }}%;
      {% endif %}
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    
    .hero__title {
        margin-bottom: 20px;
    }
    
    .hero__text {
        font-size: 1.125rem; /* 18px */
        line-height: 28px;
        margin-bottom: 25px;
    }
    
    
    .hero .btn:first-of-type {
        margin-right: 5px;
    }
    
    .hero .btn:last-of-type {
        margin-left: 5px;
    }
    
    .hero p a {
        color: inherit;
    }

    @media (min-width: 767px) {
      .hero {
        height: {{ section.settings.hero_height }}vh;
        
        {% if section.settings.textbox %}
        {% else %}
          padding-top: 30px;
          padding-bottom: 30px;
        {% endif %}
      }

      .hero__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
    }
    
    @media (min-width: 992px) {
      .hero__content {
        {% if section.settings.textbox %}
          padding: 50px 95px;
        {% endif %}
      }
        
      .hero__title {
          margin-bottom: 25px;
      }
      
      .hero__text {
          max-width: 540px;
          margin: 0 auto 50px;
      }
    }
{% endstyles %}

{% schema %}
{
    "name": "Hero V2",
    "description": "Hero section with 1 or 2 button option",
    "settings": [
        {
          "type": "range",
          "id": "hero_height",
          "label": "Hero Height",
          "default": 50,
          "min": 0,
          "max": 100,
          "step": "10"
        },
        {
            "type": "select",
            "id": "color_theme",
            "label": "Color Theme",
            "default": "light",
            "options": [
            {
                "label": "Light",
                "value": "light"
            },
            {
                "label": "Dark",
                "value": "dark"
            }]
        },
        {
            "type": "select",
            "id": "background_type",
            "label": "Background Type",
            "default": "color",
            "options": [
            {
                "label": "Image",
                "value": "image"
            },
            {
                "label": "Color",
                "value": "color"
            }]
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#F2F8FF"
        },
        {
            "type": "select",
            "id": "overlay_color",
            "label": "Overlay Color",
            "default": "black",
            "options": [
            {
                "label": "Black",
                "value": "black"
            },
            {
                "label": "Primary Color",
                "value": "primary_color"
            },
            {
                "label": "Secondary Color",
                "value": "secondary_color"
            },
            {
                "label": "Accent Color",
                "value": "accent_color"
            },
            {
                "label": "Accent Color 2",
                "value": "accent_color_2"
            }]
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay Opacity",
          "default": 100,
          "min": 0,
          "max": 100,
          "step": "5"
        },
        {
            "type": "checkbox",
            "id": "textbox",
            "label": "Show Textbox"
        },
        {
            "type": "select",
            "id": "textbox_color",
            "label": "Text Box Color",
            "default": "black",
            "options": [
            {
                "label": "Black",
                "value": "black"
            },
            {
                "label": "Primary Color",
                "value": "primary_color"
            },
            {
                "label": "Secondary Color",
                "value": "secondary_color"
            },
            {
                "label": "Accent Color",
                "value": "accent_color"
            },
            {
                "label": "Accent Color 2",
                "value": "accent_color_2"
            }]
        },
        {
          "type": "range",
          "id": "textbox_opacity",
          "label": "Text Box Opacity",
          "default": 100,
          "min": 0,
          "max": 100,
          "step": "5"
        },
        {
            "type": "select",
            "id": "textbox_position",
            "label": "Text Box Position",
            "default": "middle_center",
            "options": [
            {
                "label": "Top Left",
                "value": "top_left"
            },
            {
                "label": "Top Center",
                "value": "top_center"
            },
            {
                "label": "Top Right",
                "value": "top_right"
            },
            {
                "label": "Middle Left",
                "value": "middle_left"
            },
            {
                "label": "Middle Center",
                "value": "middle_center"
            },
            {
                "label": "Middle Right",
                "value": "middle_right"
            },
            {
                "label": "Bottom Left",
                "value": "bottom_left"
            },
            {
                "label": "Bottom Center",
                "value": "bottom_center"
            },
            {
                "label": "Bottom Right",
                "value": "bottom_right"
            }]
        },
        {
          "type": "select",
          "id": "textbox_alignment",
          "label": "Text Box Alignment",
          "default": "center",
          "options": [
          {
              "label": "Left",
              "value": "left"
          },
          {
              "label": "Center",
              "value": "center"
          },
          {
              "label": "Right",
              "value": "right"
          }]
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading Size",
            "default": "1",
            "options": [
            {
                "label": "H1",
                "value": "1"
            },
            {
                "label": "H2",
                "value": "2"
            },
            {
                "label": "H3",
                "value": "3"
            }]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Hero Title",
            "default": "Long headline to turn your visitors into users"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Hero Text",
            "default": "Separated they live in Bookmarksgrove right at the coast of the famous Semantics, large language ocean and many more stuff and more more more"
        },
        {
            "type": "select",
            "id": "btn_count",
            "label": "Button Count",
            "default": "2",
            "options": [
            {
                "label": "0",
                "value": "0"
            },
            {
                "label": "1",
                "value": "1"
            },
            {
                "label": "2",
                "value": "2"
            }]
        },
        {
            "type": "select",
            "id": "btn_type",
            "label": "Button Type",
            "default": "primary",
            "options": [
            {
                "label": "Primary",
                "value": "primary"
            },
            {
                "label": "Secondary",
                "value": "secondary"
            },
            {
                "label": "Link",
                "value": "link"
            }]
        },
        {
            "type": "url",
            "id": "btn_link",
            "label": "Button 1 Link",
            "default": "#"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button 1 Text",
            "default": "Action"
        },
        {
            "type": "select",
            "id": "btn_type_2",
            "label": "Button 2 Type",
            "default": "primary",
            "options": [
            {
                "label": "Primary",
                "value": "primary"
            },
            {
                "label": "Secondary",
                "value": "secondary"
            },
            {
                "label": "Link",
                "value": "link"
            }]
        },
        {
            "type": "url",
            "id": "btn_link_2",
            "label": "Button 2 Link",
            "default": "#"
        },
        {
            "type": "text",
            "id": "btn_text_2",
            "label": "Button 2 Text",
            "default": "Action"
        }
    ]
}
{% endschema %}